
@font-face {
    font-family: "epilogue";
    src: url("fonts/Epilogue-Regular.ttf");
}

* {
    margin: 0px;
    box-sizing: border-box;
}


li {
    list-style: none;
    padding: none;
    font-family: epilogue;
    color: #666666;
}

a {
    text-decoration: none;
    color: #666666;
}

a:hover {
    color: #000000;
}

nav {
    height: 100px;
}

.main-menu-nav-wrap div {
    margin: 0px 10px;
}

.desktop-nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-size: 20px;
}

.logo-nav-wrap {
    display: flex;
    align-items: center;
}

.logo-nav-wrap img {
    width: 100px;
}

.left-nav-wrap {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

/* .features-sub, .company-sub {
    position: absolute;
    display: none;
} */


.company-sub {
    padding: 20px;
    position: absolute;
    background-color: white;
    display: none;
    box-shadow: 9px 11px 26px -6px rgba(0,0,0,0.35);
    border-radius: 10px;
}

.features-sub {
    padding: 20px;
    position: absolute;
    background-color: white;
    transform: translateX(-35%);
    display: none;
    box-shadow: 9px 11px 26px -6px rgba(0,0,0,0.35);
    border-radius: 10px;
}

.features-sub div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0px;
}

.company-sub li {
    margin: 15px 0px;
}

.features-sub li {
    text-align: left;
    margin-left: 20px;
}

.nav-block:hover .features-sub {
    display: block;
}

.nav-block:hover .company-sub {
    display: block;
}

.li-wrap {
    display: flex;
    align-items: center;
}

.li-wrap:hover a {
    color: #000000;
}

.li-wrap:hover img {
    filter: invert(0%) sepia(1%) saturate(7451%) hue-rotate(334deg) brightness(95%) contrast(100%);
    transform: rotate(180deg);
}

.li-wrap img {
    width: 15px;
    margin-left: 5px;
}

.main-menu-nav-wrap {
    display: flex;
    margin-left: 25px;
}

.nav-block {
    margin: 0px 10px;
}

/* .right-nav-wrap {
    margin-right: 15px;
} */

.right-nav-wrap ul {
    display: flex;
}

.right-nav-wrap li {
    margin-right: 30px;
}

.register {
    border: 2px solid #666666;
    border-radius: 10px;
    padding: 10px 15px;
}

.register:hover {
    border: 2px solid #000000;
}


/* hero wrap*/
.hero-wrap {
    padding: 30px 0px;
    display: flex;
    justify-content: space-evenly;
}


.hero-text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

.text {
    font-family: epilogue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
}

.text h3 {
    font-size: 50px;
    font-weight: 800;
}

.text p {
    font-size: 20px;
    margin: 20px 0px;
    line-height: 40px;
    width: 85%;
    text-align: justify;
    color: #666666;
}

.text a {
    font-size: 25px;
    background-color: #000000;
    color: white;
    padding: 20px 30px;
    width: fit-content;
    border-radius: 15px;
    border: 1px solid black;
    transition: all 0.5s;
}

.text a:hover {
    font-size: 25px;
    background-color: white;
    color:#000000;
    border: 1px solid black;
    padding: 20px 30px;
    width: fit-content;
    border-radius: 15px;
    cursor: pointer;
}

.images {
    display: flex;
    justify-content: space-between;
}

.right-image {
    width: 30%;
}

.right-image img {
    position: relative;
    width: 100%;
}